nav {
  a {
    color: $primary-color;
  }
}

header {
  height: $huge;
  background-image: url('../../images/header.jpg');
  background-size: cover;
  text-align: center;
}

.card {
  background-color: $secondary-color;
  border: $border-size solid $secondary-color;
  border-radius: 5px;

  .img {
    background-size: cover;
    height: $large;
    width: 100%;
    background-position: center;
  }
}

main {
  aside {
    border: $border-size solid $secondary-color;
  }
}

footer {
  background-color: $primary-color;
  a {
    color: white;
  }
}